.pub-line {
  margin: 10px 0;
  font-size: 20px;
  line-height: 1.6;
}

.pub-line a {
  margin-left: 6px;
  text-decoration: none;
}

.pub-line a:hover {
  text-decoration: underline;
}

#news-list .news-item:nth-child(n+7) {
  display: none;
}

#pub-list .pub-item:nth-child(n+5) {
  display: none;
}

