---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
    <script>
      function showMore() {
        var items = document.querySelectorAll("#news-list .news-item");
        for (var i = 0; i < items.length; i++) {
          if (i < 15) {
            items[i].style.display = "list-item";
          }
        }
        document.getElementById("more-btn").style.display = "none";
        document.getElementById("less-btn").style.display = "inline";
      }
      
      function showLess() {
        var items = document.querySelectorAll("#news-list .news-item");
      
        for (var i = 0; i < items.length; i++) {
          if (i >= 6) {
            items[i].style.display = "none";
          }
        }
      
        document.getElementById("more-btn").style.display = "inline";
        document.getElementById("less-btn").style.display = "none";
      } 
      </script>
    
  </body>
</html>


